body{
    font-family: Arial, sans-serif;
    margin:0;
    padding: 20px;
}

h1{
    margin-bottom: 10px;
}

#task-container{
    margin-bottom: 10px;
}

#task-input{
    padding:5px;
    margin-right:10px;
}

#add-task-btn{
    padding: 5px 10px;
}

ul{
    list-style-type: none;
    padding:0;
}

li{
    margin-bottom: 5px
}